---
import fetchAnimeData from "../functions/fetchAnimeData";
import Layout from "../layouts/Layout.astro";

const animeID = Astro.url.searchParams.get("n") || "";
const anime = await fetchAnimeData(animeID);
---

<Layout title="">
  {
    !animeID && (
      <main>
        <section>No search params found</section>
      </main>
    )
  }
  {
    animeID && !anime && (
      <section>
        <div>Something went wrong</div>
      </section>
    )
  }
  {
    animeID && anime && (
      <main>
        <section class="main">
          <div class="banner">
            <img
              src={anime.banner}
              alt={anime.titleEnglish}
              width="100%"
              height="100%"
              transition:name={`banner-${anime.id}`}
            />
          </div>
        </section>
      </main>
    )
  }
</Layout>

<style>
  .main {
  }
  .banner {
  }
</style>

<script></script>
